.main-container {
  position: relative;
}

.data-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

