<div class="main-container mat-elevation-z8">
  <div class="loading-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table mat-table [dataSource]="dataSource" class="data-container"
             matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.totalCount$ | async" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
 </div>
